@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.skills-main-container-title{
    border: 3px solid black;
    width: 100%;
    height: auto;
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
}
.skills-main-container{
    width: 100%;
    height: auto;
    border: 10px solid brown;
    display: grid;
}
.skills-main-container .skills-row{
    width: 100%;
    height: auto;
    border: 10px solid blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}
.skills-main-container .skills-row .skills-card{
    border: 1px solid black;
    border-radius: 5px;
    width: 35%;
    height: auto;
}
.skills-main-container .skills-row .skills-card .logo-and-title-container{
    border: 2px solid;
    width: 100%;
    height: 6rem;
    display: flex;
    overflow: hidden;
    /* justify-content: space-around; */
}
.skills-main-container .skills-row .skills-card .logo-and-title-container img{
    width: auto;
    height: auto;
}
.skills-main-container .skills-row .skills-card .logo-and-title-container .skill-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 3px solid yellowgreen; */
    /* width: 100%;
    height: 2rem; */
    position: relative;
}
.skills-main-container .skills-row .skills-card .text-container{
    border: 2px solid;
    width: 100%;
    height: 10rem;
    padding: 1rem;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
}
.skills-main-container .skills-row .skills-card .buttons-container{
    border: 2px solid;
    width: 100%;
    height: 4rem;
    background-color: rgb(0, 0, 0);
}
.skills-main-container .skills-row .skill-1{
    background-color: rgb(255, 255, 255);
}